//Color
$color-white : #fff;
$color-primary : #3F0071;
$color-primary-50 : #eee4f7;
$color-danger : #dc3545;
$color-success : #28a745;
$color-dark : #000;
$color-warning : #ffc107;
$border-solid : #d3d3d3;

