//Color
$color-white : #fff;
$color-primary : #3F0071;
$color-primary-50 : #d2a3fc;
$color-primary-25 : #efe1f9;
$color-danger : #dc3545;
$color-success : #28a745;
$color-dark : #000;
$color-warning : #d5a30bd1;
$border-solid : #d3d3d3;

